{{!
Re-usable card for linking to posts
}}

<article class="post-card {{post_class}}">
    <div class="post-card__content">
        <a class="post-card__linkWrapper" href="{{url}}">
            <header>
                <div class="post-card__image mb-3">
                    {{#if feature_image}}
                        <img
                            class=""
                            srcset="{{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 600w,
                                    {{img_url feature_image size="l"}} 1000w,
                                    {{img_url feature_image size="xl"}} 2000w"
                            sizes="(max-width: 1000px) 400px, 700px"
                            src="{{img_url feature_image size="m"}}"
                            alt="{{title}}"
                        />
                    {{/if}}
                </div>
                <h2 class="post-card__title mb-3">
                    {{title}}
                </h2>
                <p class="post-card__excerpt">
                    {{excerpt}}
                </p>
            </header>
        </a>
        <footer class="post-card__meta">
            <ul class="author__list">
                {{#foreach authors}}
                    <li class="author__listItem">
                        {{#if profile_image}}
                            <a href="{{url}}" class="static-avatar">
                                <img
                                    class="author__profileImage"
                                    src="{{img_url profile_image size="xs"}}"
                                    alt="{{name}}"
                                />
                            </a>
                            {{else}}
                            <a href="{{url}}" class="static-avatar author-profile-image">
                                {{> "icons/avatar"}}
                            </a>
                        {{/if}}
                    </li>
                {{/foreach}}
            </ul>
            <div class="post-card__bylineContent ml-2.5">
                <span class="fz-sm2 fw-bold">
                    {{#has author="count:>2"}}
                        Multiple authors
                    {{else}}
                    {{authors}}
                    {{/has}}
                </span>
                <span class="post-card__bylineDate fz-sm">
                    <time datetime="{{date format="YYYY-MM-DD"}}">
                        {{date}}
                    </time>
                    <span class="bull">&bull;</span>
                    {{reading_time}}
                </span>
            </div>
        </footer>
    </div>
</article>