{{!< default}}

<div class="">
    <div class="l-grid author">

        {{#author}}
        <header class="l-grid--wide author__header">

            <div class="author__profile">
                {{#if profile_image}}
                    <img class="author__profileImage" src="{{profile_image}}" alt="{{name}}" />
                {{/if}}

                <h2 class="font-bold">{{name}}</h2>
            </div>

            {{#if bio}}
                <p class="author__bio">
                    {{bio}}
                </p>
            {{/if}}

            <div class="author__social">
                {{> "atoms/social"}}
            </div>

            {{#if cover_image}}
                <img class="author__coverImage" src="{{cover_image}}" alt="{{name}}" />
            {{/if}}
        </header>
        {{/author}}
        <div class="author__postFeed l-grid--wide">
            <div class="post-feed l-grid--wide mt-8 u-grid sm:grid-cols-2 gap-x-10 gap-y-6">
                {{#foreach posts}}
                    {{> "molecules/postCard"}} {{!-- partials/card.hbs --}}
                {{/foreach}}
            </div>
            {{> "organisms/widgets"}}
        </div>
        <div class="l-grid--wide mt-8">
            {{pagination}}
        </div>

    </div>
</div>
