
{{!< default}}

<section class="">
    <div class="l-container">

        <section class="">

            <h1 class="">{{statusCode}}</h1>
            <p class="">{{message}}</p>
            <p class=""><a href="{{@site.url}}">Go to the front page →</a></p>

            {{#if errorDetails}}
            <section class="">
                <h4>Theme errors:</h4>
                <ul class="">
                    {{#foreach errorDetails}}
                    <li>
                        <h5 class="">{{{rule}}}</h5>

                        {{#foreach failures}}
                        <span class=""><strong>Ref:</strong> {{ref}}</span><br>
                        <span class=""><strong>Message:</strong> {{message}}</span>
                        {{/foreach}}
                    </li>
                    {{/foreach}}
                </ul>
            </section>
            {{/if}}

        </section>

    </div>
</section>