{{!< default}}

{{#post}}
<article class="gh-article {{post_class}}">

    <header class="l-grid">
        <h1 class="">{{title}}</h1>

        {{#if custom_excerpt}}
            <p class="">{{custom_excerpt}}</p>
        {{/if}}

        {{#if feature_image}}
            <img class="l-grid--wide" src="{{feature_image}}" alt="{{title}}" />
        {{/if}}
    </header>

    <div class="">
        {{content}}
    </div>

</article>
{{/post}}
