{{!< default}}

{{#post}}

<article class="{{post_class}}">

    <header class="l-grid">
        <span class=""><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>
        <h1 class="">{{title}}</h1>

        {{#if custom_excerpt}}
        <p class="">{{custom_excerpt}}</p>
        {{/if}}

        {{#if feature_image}}
        <figure class="l-grid--wide">
            <img class=""
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 1000px) 1000px, 2000px"
                loading="lazy"
                src="{{img_url feature_image size="xl"}}"
                alt="{{title}}"
            />
        </figure>

        {{/if}}
    </header>

    <section class="l-grid">
        {{content}}
    </section>

    <footer class="">

        <div class="">
            Written by {{#foreach authors}}<a href="{{url}}">{{name}}</a>{{/foreach}}
        </div>

        {{!--
        <section class="gh-post-comments">
            If you want to embed comments, this is a good place to do it!
        </section>
        --}}

    </footer>

</article>

<aside class="">
    {{!-- <div class="l-container">
        <div class="post-navigation">
            {{#next_post}}
            <a href="{{url}}">
                {{> "icons/arrow-left"}} 
                <h4>{{title}}</h4>
            </a>
            {{/next_post}}
        </div>
        <div class="">
            {{#prev_post}}
            <a href="{{url}}">
                <h4>{{title}}</h4> 
                {{> "icons/arrow-right"}}
            </a>
            {{> "card"}}
            {{/prev_post}}
        </div>
    </div> --}}
            {{#get "posts" filter="id:-{{id}}" include="authors" limit="3" as |more_posts|}}
            {{#if more_posts}}
                {{#foreach more_posts}}
                    {{> "card"}}
                {{/foreach}}
            {{/if}}
        {{/get}}
</aside>

{{/post}}
