{{!< default}}
<div class="tag l-grid">
    {{#tag}}
        <header class="">
            <h1 class="tag__headline">{{name}}</h1>

            <p class="tag__description mt-5">
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </p>

            {{#if feature_image}}
                <img class="" src="{{feature_image}}" alt="{{name}}" />
            {{/if}}

        </header>
    {{/tag}}
    <div class="post-feed post-feed--horizontal mt-6 l-grid--wide">
        {{#foreach posts}}
            {{> "molecules/postCard"}}
        {{/foreach}}
    </div>

    <div class="l-grid--wide mt-8">
        {{pagination}}
    </div>
</div>
