{{!< default}}
<div class="l-grid">
    {{#tag}}
        <header class="">

            <h1>{{name}}</h1>

            <p>
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </p>

            {{#if feature_image}}
                <img class="" src="{{feature_image}}" alt="{{name}}" />
            {{/if}}

        </header>
    {{/tag}}
    <div class="post-feed md:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-6">
        {{#foreach posts}}
            {{> "organisms/postCard"}}
        {{/foreach}}
    </div>
</div>
