{{!< default}}

<div class="">
    <div class="l-container">

        {{#tag}}
        <header class="">

            <h1>{{name}}</h1>

            <p>
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </p>

            {{#if feature_image}}
                <img class="" src="{{feature_image}}" alt="{{name}}" />
            {{/if}}

        </header>
        {{/tag}}

        <div class="">
        {{#foreach posts}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

    </div>
</div>
