<footer class="post__footer mt-6 l-grid">
    <div class="author__text text-sm">
        Written by
        {{#foreach authors}}
            {{#if profile_image}}
            <a href="{{url}}" class="static-avatar">
                <span>
                    {{name}}
                </span>
                <img
                    class="author__profileImage"
                    src="{{img_url profile_image size="xs"}}"
                    alt="{{name}}"
                />
            </a>
            {{else}}
                <a href="{{url}}" class="static-avatar author__profileImage">
                    {{> "atoms/icons/avatar"}}
                </a>
            {{/if}}
        {{/foreach}}
    </div>
    <div class="post__navigation mt-8 l-grid--wide">
        {{#prev_post}}
            <a class="paging paging--previous pr-4" href="{{url}}"
                aria-label="Previous post">
                <h3 class="paging__title">
                    <i class="fas fa-arrow-left"></i>
                    {{title}}
                </h3>
            </a>
        {{/prev_post}}

        {{#next_post}}
            <a class="paging paging--next pl-4" href="{{url}}" aria-label="Next post">
                <h3 class="paging__title">
                    {{title}}
                    <i class="fas fa-arrow-right"></i>
                </h3>
            </a>
        {{/next_post}}
    </div>
</footer>