<header class="post-card__header">
    {{#link href=(url) class="post-card__linkWrapper"}}
        <h2 class="post-card__title">
            {{title}}
        </h2>
    {{/link}}

    <div class="post-card__meta text-xs mt-2.5">
        <span class="post-card__meta-date uppercase color-gray-50">
            <time datetime="{{date format="YYYY-MM-DD"}}">
                {{date}}
            </time>
        </span>
        <span class="bull color-gray-50">&bull;</span>
        <span class="post-card__meta-length uppercase color-gray-50">
            {{reading_time}}
        </span>
        {{#if tags}}
            <span class="post-card__meta-tags uppercase font-bold">
                {{#foreach tags}}
                    <span class="bull color-gray-50">&bull;</span>
                    <a class="post-tag post-tag-{{slug}}" href="{{url}}"
                        title="{{name}}">{{name}}</a>
                {{/foreach}}
            </span>
        {{/if}}

    </div>
    {{#unless hide_excerpt}}
        <p class="post-card__excerpt mt-2.5">
            {{excerpt}}
        </p>
    {{/unless}}
</header>